.content {
    width: 856px;
    margin: 100px auto;
}

.profile {
    display: flex;
    gap: 115px;
}

.profileImg {
    width: 243px;
    height: 243px;
}

.mainInfo {
    gap: 40px;
}

.download_link {
    padding: 20px 40px;
    background-color: #ff6464;
    color: #fff;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.download_link:hover {
    box-shadow: 0 2px 4px gray;
}